{{#new}}
    <a href="{{url}}" class="btn btn-primary my-3">
        {{text}}
    </a>
{{/new}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#posts}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>
                    <a href="{{url}}">{{title}}</a>
                </td>
                <td>{{user-full-name}}</td>
                <td>
                    {{#can-edit?}}
                        <a href="{{edit-url}}">edit</a>
                    {{/can-edit?}}
                </td>
            </tr>
        {{/posts}}
    </tbody>
</table>
