{:deps {org.clojure/test.check {:mvn/version "0.9.0"}
        darkleaf/either        {:local/root "../either"}}

 :aliases {:dev   {:extra-paths ["test"]
                   :extra-deps  {orchestra {:mvn/version "2017.11.12-1"}}}
           :cider {:extra-deps {darkleaf/cider {:local/root "../cider"}}
                   :main-opts  ["-m" "darkleaf.cider"]}
           :repl  {:extra-deps {darkleaf/repl {:local/root "../repl"}}
                   :main-opts  ["-m" "darkleaf.repl"]}}

 :mvn/local-repo "../.m2"}
