<div>
    <div data-form-ujs="log-in" />

    <script id="log-in-description" type="application/transit+json">
     {{&form-description}}
    </script>

    <script id="log-in-data" type="application/transit+json">
     {{&form-data}}
    </script>

    <script id="log-in-errors" type="application/transit+json">
     {{&form-errors}}
    </script>
</div>
