{:aliases
 {:dev {:extra-paths ["test"]}

  :cider {:extra-deps {darkleaf/cider {:local/root "../cider"}}
          :main-opts ["-m" "darkleaf.cider"]}

  :repl {:extra-deps {darkleaf/repl {:local/root "../repl"}}
         :main-opts ["-m" "darkleaf.repl"]}}

 :mvn/local-repo "../.m2"}

;; clojure -Adev:repl
