<!DOCTYPE html>
<html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
        </head>
        <body>
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <div class="container">
                 <a class="navbar-brand" href="/">Publicator</a>
                 <div class="navbar-nav mr-auto">
                 <a class="nav-item nav-link" href="/posts">Posts</a>
                 </div>
                 <div class="navbar-nav">
                 <a class="nav-item nav-link" href="/registration">Register</a>
                 <a class="nav-item nav-link" href="/log-in">Log in</a>
                 </div>
                 </div>
                 </nav> -->
            <div class="container">
                {{&content}}
            </div>
        </body>
    </html>
</html>
