<!DOCTYPE html>
<html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">Publicator</a>
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/posts">Posts</a>
                    </div>
                    <div class="navbar-nav">
                        {{#log-in}}
                            <a class="nav-item nav-link"
                               href="{{url}}">
                                {{text}}
                            </a>
                        {{/log-in}}

                        {{#register}}
                            <a class="nav-item nav-link"
                               href="{{url}}">
                                {{text}}
                            </a>
                        {{/register}}

                        {{#log-out}}
                            <a class="nav-item nav-link"
                               data-method="post"
                               href="{{url}}">
                                {{text}}
                            </a>
                        {{/log-out}}
                    </div>
                </div>
            </nav>
            <div class="container">
                {{&content}}
            </div>

            <script src="https://unpkg.com/rails-ujs@5.2.0/lib/assets/compiled/rails-ujs.js"></script>
            <script src="https://unpkg.com/form-ujs@0.0.1/dist/form-ujs.js"></script>
        </body>
    </html>
</html>
